.current-audio
  %h4 Current mp3:
  = render "shared/jplayer", filename: @riff.audio.url, index: 0

= render 'form'

.text-center
  = link_to "Delete Riff", @riff, method: :delete, data: { confirm: "Are you sure?" }
  |
  = link_to "Cancel", @riff
